<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <!--sqlserver连接地址例子 (Data Source=IP;Initial Catalog=ServerName;Persist Security Info=False;User ID=;Password=;)-->
    <!--sqlserver his-->
    <add key="conn_sql_his" value="" />
    <!--sqlserver lis-->
    <add key="conn_sql_lis" value="" />
    <!--sqlserver pacs-->
    <add key="conn_sql_pacs" value="" />
    <!--sqlserver pe体检-->
    <add key="conn_sql_pe" value="" />
    <!--sqlserver yyh医养护-->
    <add key="conn_sql_yyh" value="" />
    <!--oracle连接地址例子 (Data Source=IP:PORT/ServerName;User Id=;Password=;)-->
    <!--oracle his-->
    <add key="conn_ora_his" value="" />
    <!--oracle lis-->
    <add key="conn_ora_lis" value="" />
    <!--oracle pacs-->
    <add key="conn_ora_pacs" value="" />
    <!--oracle pe体检-->
    <add key="conn_ora_pe" value="" />
    <!--oracle yyh医养护-->
    <add key="conn_ora_yyh" value="" />
  </appSettings>
  <system.web>
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
                type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
  </system.data>
  <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
            </dependentAssembly>
        </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <dataSource alias="SampleDataSource"
                    descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
            </dataSources>
        </version>
  </oracle.manageddataaccess.client>
</configuration>
