<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="oracle.manageddataaccess.client"
			type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework"
			type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			requirePermission="false"/>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>
		<add name="das" connectionString="Host=10.10.0.9;Username=postgres;Password=xuhui123!;Database=postgres" providerName="Npgsql"/>
		<add name="hrp275" connectionString="Data Source=10.10.1.1;Initial Catalog=hrp275;Persist Security Info=False;User ID=sa;Password=fysybshis;"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!--sqlserver连接地址例子 (Data Source=IP;Initial Catalog=ServerName;Persist Security Info=False;User ID=;Password=;)-->
		<!--sqlserver his-->
		<add key="conn_sql_his" value="Data Source=10.10.1.1;Initial Catalog=hrp275;Persist Security Info=False;User ID=sa;Password=fysybshis;"/>
		<!--sqlserver lis-->
		<add key="conn_sql_lis" value=""/>
		<!--sqlserver pacs-->
		<add key="conn_sql_pacs" value=""/>
		<!--sqlserver pe体检-->
		<add key="conn_sql_pe" value=""/>
		<!--sqlserver yyh医养护-->
		<add key="conn_sql_yyh" value="Data Source=10.10.1.25;Initial Catalog=yyhsjk;Persist Security Info=False;User ID=sa;Password=fbsoft;"/>
		<!--oracle连接地址例子 (Data Source=IP:PORT/ServerName;User Id=;Password=;)-->
		<!--oracle his-->
		<add key="conn_ora_his" value=""/>
		<!--oracle lis-->
		<add key="conn_ora_lis" value=""/>
		<!--oracle pacs-->
		<add key="conn_ora_pacs" value=""/>
		<!--oracle pe体检-->
		<add key="conn_ora_pe" value=""/>
		<!--oracle yyh医养护-->
		<add key="conn_ora_yyh" value=""/>
	</appSettings>
	<!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<system.web>
		<compilation targetFramework="4.7.2" debug="true"/>
		<pages validateRequest="false"/>
		<httpRuntime requestValidationMode="2.0"/>
	</system.web>
	<!--<system.webServer>
		<modules>
			--><!-- This module handles disposal of the request lifetime scope. --><!--
			<add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web" preCondition="managedHandler" />
			--><!-- This module injects properties on web forms. You could also use the UnsetPropertyInjectionModule or a custom module. --><!--
			<add name="PropertyInjection" type="Autofac.Integration.Web.Forms.PropertyInjectionModule, Autofac.Integration.Web" preCondition="managedHandler" />
		</modules>
	</system.webServer>-->
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client"/>
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
				type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<publisherPolicy apply="no"/>
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>